@import "./partials/token.css";
@import "./partials/buttons.css";
@import "./partials/icons.css";

@import "./partials/header.css";
@import "./partials/home.css";
@import "./partials/footer.css";


@import "./partials/listing.css";
@import "./partials/group-header.css";
@import "./partials/packages-card.css";
@import "./partials/operators-card.css";

@import "./partials/operators-details.css";

@import "./partials/package-banner.css";
@import "./partials/package-details.css";
@import "./partials/forms.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

/* your component layers */

@layer components {
 .is-hidden{
  display:none !important
 }
}